<footer class="navbar navbar-inverse navbar-fixed-bottom ">
    <div class="container">
        <div class="navbar-text pull-left">
            <span class="glyphicon glyphicon-copyright-mark"></span> 2016 | Harsh Patel
        </div>
        </div>
</footer>
</body>
</html>