<footer class="navbar navbar-inverse navbar-fixed-bottom ">
    <div class="container">
        <div class="navbar-text pull-left">
            <span class="glyphicon glyphicon-copyright-mark"></span> 2016 | Harsh Patel | Portfolio
        </div>
        <div class="h-10"></div>
        <ul class="social-ul">
            <li class="box-social"><a href="http://www.facebook.com/Harsh2898"><i class="ion-social-facebook"></i></a></li>
            <li class="box-social"><a href="https://ca.linkedin.com/in/harshpatel2898"><i class="ion-social-linkedin-outline"></i></a></li>
            <li class="box-social"><a href="https://twitter.com/harsh281998"><i class="ion-social-twitter"></i></a></li>
            <li class="box-social"><a href="https://github.com/harsh2898"><i class="ion-social-github"></i></a></li>
        </ul>
    </div>
    </div>
</footer>
</body>
</html>