<% include partials/header.ejs %>

<!-- Main container -->
<div class="container main-container clearfix">
    <div class="col-md-6">
        <img src="/images/Programming-Languages.png" class="img-responsive" alt="" height="1200" width="800" />
    </div>
    <div class="col-md-6">
        <h1 class="uppercase">About Me </h1>
        <div class="h-30"></div>
        <h4>Hey, this is Harsh. I am from India, came to Canada after High school. I create and build websites and applications.
            I like Horse riding, hanging out with friends and doing adventurous things.</h4>

        <div class="h-10"></div>
        <ul class="social-ul">
            <li class="box-social"><a href="http://www.facebook.com/Harsh2898"><i class="ion-social-facebook"></i></a></li>
            <li class="box-social"><a href="https://ca.linkedin.com/in/harshpatel2898"><i class="ion-social-linkedin-outline"></i></a></li>
            <li class="box-social"><a href="https://twitter.com/harsh281998"><i class="ion-social-twitter"></i></a></li>
            <li class="box-social"><a href="https://github.com/harsh2898"><i class="ion-social-github"></i></a></li>
        </ul>


    </div>
</div>
<!-- end Main container -->

<!-- back to top -->
<a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>
<!-- end back to top -->



<!-- jQuery -->
<script src="js/jquery-2.1.1.js"></script>
<!--  plugins -->
<script src="js/bootstrap.min.js"></script>
<script src="js/menu.js"></script>
<script src="js/animated-headline.js"></script>
<script src="js/isotope.pkgd.min.js"></script>


<!--  custom script -->
<script src="js/custom.js"></script>
<% include partials/footer.ejs%>