<% include partials/header.ejs %>

<h1 class="text-center"><%= title %></h1>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.446734252561!2d-79.65518628480528!3d44.40347787910269!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882aa3619d8b651d%3A0xb34928e7d08a7b5c!2s376+Hickling+Trail%2C+Barrie%2C+ON+L4M+6A8!5e0!3m2!1sen!2sca!4v1476404642695"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<!-- main-container -->
<div class="container main-container">
    <div class="col-md-6">
        <form action="#" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-contact">
                        <input type="text" name="name">
                        <span>your name</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-contact">
                        <input type="text" name="email">
                        <span>your email</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="input-contact">
                        <input type="text" name="object">
                        <span>object</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="textarea-contact">
                        <textarea name="message"></textarea>
                        <span>message</span>
                    </div>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-box">Send</a>
                </div>
            </div>
        </form>
    </div>
</div>

<% include partials/footer.ejs %>