<% include partials/header.ejs%>

<h1 class="text-center"><%= title %> Patel</h1>
<p class="text-center text-uppercase"><strong><u>Computer Programmer</u></strong></p>
<% include partials/footer.ejs%>