<% include partials/header.ejs%>

<div class="jumbotron text-center">
    <h1><%= title %> Patel</h1>
    <img src="/images/me.jpg" class="img-responsive img-circle margin" style="display:inline" alt="It's me." width="350" height="350">
    <p class="text-center text-uppercase"><strong><u>Computer Programmer</u></strong></p>
</div>

<% include partials/footer.ejs%>