<% include partials/header.ejs %>

<h1 class="text-center"><%= title %></h1>

<div class="container main-container">
    <div class="clearfix">

        <!-- service-box -->
        <div class="col-md-4 service-box">
            <h3>HTML Project</h3>
            <div class="h-10"></div>
            <p>Movie poster created by using HTML5 and CSS during Semester 1 at Georgian College.</p>
            <div class="col-md-12">
                <a href="http://gc200326796.computerstudi.es/Assign3/movieposter.html" class="btn btn-box">Click Here</a>
            </div>
        </div>

        <div class="col-md-4 service-box">
            <h3>Php Project</h3>
            <div class="h-10"></div>
            <p>Dynamic Web Applicatoin created using Php, HTML5, and CSS using CRUD concept. User can sign up and login to create web pages and can edit them.</p>
            <div class="col-md-12">
                <a href="http://gc200326796.computerstudi.es/comp1006/assignment2/home.php" class="btn btn-box">Click Here</a>
            </div>
        </div>

        <div class="col-md-4  service-box">
            <h3>Php InClass</h3>
            <div class="h-10"></div>
            <p>Web Application built in class using Php, HTML5, and CSS using CRUD concept. This application stores the game information and allows users to displays, add and delete.</p>
            <div class="col-md-12">
                <a href="http://gc200326796.computerstudi.es/comp1006/lesson13/default.php" class="btn btn-box">Click Here</a>
            </div>
        </div>
        <!-- end service-box -->
        
    </div>
</div>
<% include partials/footer.ejs %>