<% include partials/header.ejs %>

<h1 class="text-center"><%= title %></h1>

<div class="container main-container">
    <div class="clearfix">

        <!-- service-box -->
        <div class="col-md-4 service-box">
            <i class="ion-social-html5 size-50"></i>
            <h3>HTML and CSS</h3>
            <div class="h-10"></div>
            <p>Creating responsive websites using HTML and CSS. Adding CSS makes the web page interactvie and attractive.</p>
        </div>

        <div class="col-md-4 service-box">
            <i class="ion-coffee size-50"></i>
            <h3>JAVA</h3>
            <div class="h-10"></div>
            <p>Object oriented programming. Test driven Development, GUI, Exception handling and threads.</p>
        </div>

        <div class="col-md-4  service-box">
            <i class="ion-code size-50"></i>
            <h3>Php</h3>
            <div class="h-10"></div>
            <p>Hypertext Preprocessor: PHP is a server scripting language, and a powerful tool for making dynamic and interactive Web pages.</p>
        </div>
        <!-- end service-box -->

        <!-- service-box -->
        <div class="col-md-4  service-box">
            <i class="ion-social-javascript size-50"></i>
            <h3>Java Script</h3>
            <div class="h-10"></div>
            <p>Node, Angular and Express JS. JavaScript is a high-level, dynamic, untyped, and interpreted programming language. It has been standardized in the ECMAScript language specification.</p>
        </div>
        <!-- end service-box -->

        <!-- service-box -->
        <div class="col-md-4  service-box">
            <i class="ion-social-windows size-50"></i>
            <h3>C #</h3>
            <div class="h-10"></div>
            <p>C# is a programming language that is designed for building a variety of applications that run on the .NET Framework. C# is simple, powerful, type-safe, and object-oriented.</p>
        </div>
        <!-- end service-box -->

        <!-- service-box -->
        <div class="col-md-4  service-box">
            <i class="ion-soup-can size-50"></i>
            <h3>Database</h3>
            <div class="h-10"></div>
            <p>My SQL. Relational and Advanced data base (experience with joins, indexes, views, procedures and database tuning).</p>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>