<% include partials/header.ejs %>

<h1 class="text-center"><%= title %></h1>

<div class="container main-container">
    <div class="clearfix">

        <!-- service-box -->
        <div class="col-md-4 service-box">
            <i class="ion-social-html5 size-50"></i>
            <h3>HTML and CSS</h3>
            <div class="h-10"></div>
            <p>Creating responsive websites using HTML and CSS. Adding CSS makes the web page interactvie and attractive.</p>
        </div>

        <div class="col-md-4 service-box">
            <i class="ion-android-options size-50"></i>
            <h3>JAVA</h3>
            <div class="h-10"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
        </div>

        <div class="col-md-4  service-box">
            <i class="ion-android-checkmark-circle size-50"></i>
            <h3>Php</h3>
            <div class="h-10"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
        </div>
        <!-- end service-box -->

        <!-- service-box -->
        <div class="col-md-4  service-box">
            <i class="ion-social-nodejs size-50"></i>
            <h3>Node, Angular and Express Js</h3>
            <div class="h-10"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
        </div>
        <!-- end service-box -->

        <!-- service-box -->
        <div class="col-md-4  service-box">
            <i class="ion-earth size-50"></i>
            <h3>C #</h3>
            <div class="h-10"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
        </div>
        <!-- end service-box -->

        <!-- service-box -->
        <div class="col-md-4  service-box">
            <i class="ion-speedometer size-50"></i>
            <h3>Database</h3>
            <div class="h-10"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliter enim nosmet ipsos nosse non possumus. Inscite autem medicinae </p>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>